export DATABASE_HOST="127.0.0.1"
export DATABASE_PORT="5432"

if [ -f ./tama/.memovee.integration.env ]; then
  if command -v dotenv >/dev/null 2>&1; then
    dotenv tama/.memovee.integration.env
  else
    set -a
    . ./tama/.memovee.integration.env
    set +a
  fi
fi
